body * {
    font-family: Helvetica, 'Segoe UI', Verdana, system-ui;
    font-size: 1em;
}

header {
    text-align: center;
    padding: 10px;
    color: white;
    background-color: #371de6;
}

h1 {
    font-size: 2em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}

h2 {
    font-size: 1.7em;
    font-weight: 600;
    font-family: Arial, Calibri, sans-serif;
}

h3 {
    font-size: 1.2em;
    font-family: Arial, Calibri, sans-serif;
}

main{
    display: flex;
    flex-wrap: wrap;
}

section {
    padding: 10px;
}

section:first-of-type {
    width: 20vw;
}

button {
    width: 100%;
    margin: 10px 0px;
    font-size: 1em;
    height: 2em;
    border-radius: .5em;
    border: none;
    background-color: #6991e3;
    font-weight: 600;
    color: white;
}

.city-shortcut {
    color: black;
    background-color: #a6a6a6;
}

input {
    width: calc(100% - 18px);
    margin: 10px 0px;
    font-size: 1em;
    height: 2em;
    border-radius: .5em;
    padding-left: 10px;
}

#past-searches {
    border-top: 2px solid #a6a6a6 ;
    margin-top: 5px;
    padding-top: 5px;
}

section:last-of-type > * {
    min-width: 65vw;
    margin: 10px 0px;
    line-height: 2em;
}

#today > div {
    border: 2px solid black;
    padding: 10px;
    border-radius: .5rem;
}

#today  img {
    height: 3.4em;
}

#five-day {
    display: flex;
    justify-content: space-around;
}

article {
    background-color: #46556d;
    color: white;
    width: 12vw;
    border-radius: .5rem;
}

article > * {
    margin: 10px;
}

article img {
    margin: 0 20px;
    height: 2em;
}

@media screen and (max-width:1080px) {
    section:first-of-type {
        width: 100vw;
    }
    
    form {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 10px 0;
        align-items: center;
    }

    form > * {
        width: 30vw;
    }

    #past-searches, .city-shortcut {
        display: none;
    }

    section:last-of-type {
        width: 100vw;
    }

    article {
        width: 17vw;
    }
}

@media screen and (max-width:855px) {
    form > * {
        width: 90vw;
    }

    #five-day {
        flex-wrap: wrap;
        gap: 15px;
    }

    article {
        width: 80vw;
    }
    article img {
        float: right;
        height: auto;
        margin: 0 calc(80vw - 250px) 0 0;
    }
}
